!!!
%html
  %head
  = render 'shared/side_bar'
  .chat-area
    .chat-area__group
      .chat-area__group__description
        %p.chat-area__group__description__name group-name
        %p.chat-area__group__description__members Member : user-name,etegege
      .chat-area__group__edit
        %p.chat-area__group__edit_text Edit
    .chat-area__message
      = render partial: 'message', collection: @messages
    .chat-area__form
      %form
        =form_for [@group, @message] do |f|
          %label
            %span.filelabel
              %i.far.fa-image
            = f.file_field :image, class: 'file'
          = f.text_field :content, class: 'text', placeholder: 'type a message'
          = f.submit 'Send', class: 'button'
