.side-bar
  .side-bar__user-panel
    %strong.user-name= current_user.name
    = link_to edit_user_path(current_user) do
      %i.fas.fa-cog.fa-fw
    = link_to new_group_path do
      %i.far.fa-edit.fa-fw
  .side-bar__group-panel
    .side-bar__group-panel__groups
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__latest-message
            = group.show_last_message
